<% include partials/header %>
    <h1>Add Student</h1>
    <form method="POST" action="users/add">
        <label>First Name</label><br>
        <input type = "text" name = "first_name">
        <br>
        <label>Last Name</label><br>
        <input type = "text" name = "last_name">
        <br>
        <label>Email</label><br>
        <input type = "text" name = "Email">
        <br>
        <label>Street</label><br>
        <input type = "text" name = "Street">
        <br>
        <label>City</label><br>
        <input type = "text" name = "City">
        <br>
        <label>State</label><br>
        <input type = "text" name = "State">
        <br>
        <label>Zip</label><br>
        <input type = "text" name = "Zip">
        <br>
        <label>Phone</label><br>
        <input type = "text" name = "Phone">
        <br>
        <label>Birth Date</label><br>
        <input type = "text" name = "Birth_Date">
        <br>
        <label>Sex</label><br>
        <input type = "text" name = "Sex">
        <br>
        <label>Lunch Cost</label><br>
        <input type = "text" name = "Lunch_cost">
        <br>
        <input type = "submit" value = "Submit" name = "submit_button">


    </form>

    <h1><%= title %></h1>
    <% userData.forEach(function(user){ %>
        <li><%= user.first_name %> <%= user.last_name %></li>
    <% }) %>

<% include partials/footer %>
